#set($layout="default/layout/noop.vm")

## 懒加载片段

#foreach($row in $page.results)
<div class="shadow-box g-item span_1_of_3 col masonry-entry">
	#if($!{row.albums})
	<div class="g-thumb">
		#foreach($alb in ${row.albums})
			<a href="$base/view/${row.id}">
				<img src="$base${alb.preview}">
			</a>
		#end
	</div>
	#end
	<h3 class="title">
		<a href="$base/view/${row.id}">${row.title}</a>
	</h3>
	<div class="g-outline">
		<p>${row.summary}</p>
	</div>
	
	<div class="g-btm">
		<div class="pull-left">
			<span class="author">#showName(${row.author})</span>
			<time class="time">$date.format('yyyy-MM-dd', $row.created)</time>
		</div>
		<a class="cmt pull-right" href="javascript:void(0)" onclick="onFavor(this, '${row.id}')">喜欢&nbsp;(<i>${row.favors}</i>)</a>
	</div>
</div>
#end