<!-- header -->
<header id="header" class="navbar">
	<ul class="nav navbar-nav navbar-avatar pull-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">            
				<span class="hidden-sm-only">${profile.username}</span>
				<span class="thumb-small avatar inline"><img src="$base${profile.avatar}" class="img-circle"></span>
				<b class="caret hidden-sm-only"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="$base/account/profile">Profile</a></li>
				<li class="divider"></li>
				<li><a href="$base/logout">Logout</a></li>
			</ul>
		</li>
	</ul>
    <a class="navbar-brand" href="$base/index">Mtons</a>
	<!--
	<button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:slide-nav slide-nav-left" data-target="body">
		<i class="icon-reorder icon-xlarge text-default"></i>
	</button>
	-->
	<ul class="nav navbar-nav hidden-sm">
		<li class="dropdown shift" data-toggle="shift:appendTo" data-target=".nav-primary .nav">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> POST <b class="caret hidden-sm-only"></b></a>
    		<ul class="dropdown-menu">
    			#foreach($g in $groups)
    			<li>
    				<a href="$base/post/new/${g.key}" target="_blank">${g.alias}</a>
    			</li>
    			#end
            </ul>
      </li>
	</ul>
</header>
<!-- / header -->

<!-- nav -->
<nav id="nav" class="nav-primary visible-lg nav-vertical">
	<ul class="nav" data-spy="affix" data-offset-top="50">
		<li><a href="$base/admin" nav="1"><i class="fa fa-dashboard icon-xlarge"></i>Dashboard</a></li>
		<li><a href="$base/admin/posts/list" nav="2"><i class="fa fa-edit icon-xlarge"></i>文章管理</a></li>
		<li><a href="$base/admin/tags/list" nav="3"><i class="fa fa-tags icon-xlarge"></i>标签管理</a></li>
		<li><a href="$base/admin/comments/list" nav="4"><i class="fa fa-comments-o icon-xlarge"></i>评论管理</a></li>
		<li><a href="$base/admin/users/list" nav="5"><i class="fa fa-user icon-xlarge"></i>用户管理</a></li>
		<li><a href="$base/admin/config/" nav="6"><i class="fa fa-cog icon-xlarge"></i>系统配置</a></li>
	</ul>
</nav>
<!-- / nav -->