<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  	http://www.springframework.org/schema/beans/spring-beans.xsd
  	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd"
	default-autowire="byName">

	<bean id="ehcacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
		<property name="shared" value="true" />
	</bean>
	<bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehcacheManagerFactory" />
	</bean>

	<!-- 支持缓存注解 -->
	<cache:annotation-driven cache-manager="ehcacheManager" />

	<!-- Planet -->
	<bean id="postPlanet" class="mblog.core.planet.impl.PostPlanetImpl" />
	<bean id="tagPlanet" class="mblog.core.planet.impl.TagPlanetImpl" />
	
	<bean id="videoAnalysis" class="mblog.core.analysis.videos.VideoAnalysis">
		<property name="strategies">
			<map>
				<entry key="v.youku.com">
					<bean class="mblog.core.analysis.videos.support.Youku"/>
				</entry>
			</map>
		</property>
	</bean>
	
</beans>