#set($title = "$!{user.name}")
#set($layout = "/default/layout/schema.vm")

<div class="profile">
	<div class="container">
		<div class="avatar bounceInDown animated">
			<img class="img-circle" src="$base${user.avatar}">
		</div>
		<h1>#showName(${user})</h1>
        <h2>Ta发布的文章</h2>
		<!--
		<a class="btn btn-white" href="#">Back</a>
		-->
	</div>
</div>

<div class="wrap">
	<div class="container">
		<div class="row">
			<div class="main clearfix">
        	    <div class="shadow-box mt20">
    				<div class="stream-list">
                    	#foreach($row in $page.results)
                    	<div class="stream-item" id="loop-${row.id}">
                    		<div class="blog-rank">
            			        <div class="votes">
            			            ${row.hearts}<small>推荐</small>
            			        </div>
            			        <div class="views hidden-xs">
            			            ${row.comments}<small>评论</small>
            			        </div>
            			    </div>
            			    <div class="summary">
            			        <h2 class="title"><a href="$base/browse/detail/${row.id}">${row.title}</a></h2>
            			        <div class="excerpt wordbreak hidden-xs">$!{row.summary}</div>
            			    	<div class="foot-block clearfix">
            						<!--
            			    		<ul class="tags">
            			    			<li>
            			    				<a class="tag tag-sm" href="#">javascript</a>
            							</li>
            			    		</ul>
            						-->
            			    		<div class="pull-right hidden-xs">
            			    			<a href="javascript:void(0);" onclick="onHeart('${row.id}')" data-id="${row.id}">喜欢&nbsp;(${row.hearts})</a>
            			    		</div>
            			    	</div>
            			    </div>
                    	</div>
            			#end
    				</div>
                </div>
        		
                <div class="text-center clr">
                	#page("$base/user/$!{user.id}" $page 5)
                </div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

function onHeart(id) {
	if (parseInt(id) > 0) {
		jQuery.getJSON('$base/blog/heart', {'id': id}, function (ret) {
			alert(ret.message);
			if (ret.code >=0) {
			}
		});
	}
}
</script>