<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  	http://www.springframework.org/schema/beans/spring-beans.xsd
  	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd"
	default-autowire="byName">

	<!-- 开启@AspectJ AOP代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 任务调度器 -->
	<task:scheduler id="scheduler" pool-size="10" />

	<!-- 任务执行器 -->
	<task:executor id="executor" pool-size="30" />

	<!--开启注解调度支持 @Async @Scheduled -->
	<task:annotation-driven executor="executor" scheduler="scheduler" proxy-target-class="true" />
	
	<bean id="logEventHandler" class="mblog.extend.event.handler.LogEventHandler" />
	<bean id="feedsEventHandler" class="mblog.extend.event.handler.FeedsEventHandler" />
	<bean id="notifyEventHandler" class="mblog.extend.event.handler.NotifyEventHandler" />

</beans>