<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  	http://www.springframework.org/schema/beans/spring-beans.xsd
  	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd"
	default-autowire="byName">

	<bean id="ehcacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
		<property name="shared" value="true" />
	</bean>
	<bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehcacheManagerFactory" />
	</bean>

	<!-- 支持缓存注解 -->
	<cache:annotation-driven cache-manager="ehcacheManager" />

	<!-- Planet -->
	<bean id="postPlanet" class="mblog.extend.planet.impl.PostPlanetImpl" />
	<bean id="tagPlanet" class="mblog.extend.planet.impl.TagPlanetImpl" />
	<bean id="groupPlanet" class="mblog.extend.planet.impl.GroupPlanetImpl" />
	<bean id="commentPlanet" class="mblog.extend.planet.impl.CommentPlanetImpl" />
	<bean id="userPlanet" class="mblog.extend.planet.impl.UserPlanetImpl" />

	<bean id="videoAnalysis" class="mblog.extend.analysis.videos.VideoAnalysis">
		<property name="strategies">
			<map>
				<entry key="v.youku.com">
					<bean class="mblog.extend.analysis.videos.support.Youku"/>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="emailSender" class="mblog.extend.email.impl.EmailSenderImpl" />

	<!-- velocity模板引擎 -->
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="${velocity.resource}" />
	</bean>

</beans>