<script type="text/javascript" src="$base/dist/js/app/sidebox.js"></script>

<div class="widget-box shadow-box">
	<div class="title">
		<h3>热门文章</h3>
	</div>
	<ul class="box-list" id="hots">
	</ul>
</div>

<div class="widget-box shadow-box">
	<div class="title">
		<h3>最新发布</h3>
	</div>
	<ul class="box-list" id="recents">
	</ul>
</div>

<script type="text/javascript">
var recent_li_template = '<li><div class="li-out"><span class="last"><i>{0}</i></span><span class="name"><a  href="{1}" target="_blank">{2}</a></span><span class="nums">{3}</span></div></li>'
				
$(function () {
	var sidebox = new Sidebox($('#sidebox'), {
		recentUrl : '$base/browse/recents_json',
    	hotUrl : '$base/browse/hots_json',
    	maxResults :10,
        // callback
        onLoadHot : function (i, data) {
        	var url = '$base/browse/detail/' + data.id;
      		var item = jQuery.format(recent_li_template, i + 1, url, data.title, data.views);
      		return item;
        },
        onLoadRecent : function (i, data) {
        	var url = '$base/browse/detail/' + data.id;
      		var item = jQuery.format(recent_li_template, i + 1, url, data.title, data.views);
      		return item;
        }
	});
	
	sidebox.onLoad();
	
})
</script>