<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm">
            <bean class="mblog.shiro.realm.AccountRealm"/>
        </property>
        <property name="subjectFactory">
            <bean class="mblog.shiro.authc.AccountSubjectFactory"/>
        </property>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/home"/>
        <property name="unauthorizedUrl" value="/error/reject.html"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="authc"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /login = anon
        		/home* = authc
                /post/** = authc
                /account/** = authc
                /admin* = authc, roles[admin]
                /admin/** = authc, roles[admin]
            </value>
        </property>
    </bean>

    <bean id="authc" class="mblog.shiro.filter.AuthenticatedFilter">
        <property name="loginUrl" value="/login"/>
    </bean>

</beans>
