<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm">
            <bean class="mblog.shiro.realm.AccountRealm"/>
        </property>
        <property name="subjectFactory">
            <bean class="mblog.shiro.authc.AccountSubjectFactory"/>
        </property>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/home"/>
        <property name="unauthorizedUrl" value="/error/reject.html"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="authc"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /login = anon
                /home* = authc
                /home/** = authc
                /post/** = authc
                /account/** = authc
                /admin = authc,perms[admin]
                /admin/index = authc,perms[admin]
                /admin/posts/**=authc,perms[posts:view]
                /admin/posts/update**=authc,perms[posts:edit]
                /admin/posts/delete**=authc,perms[posts:edit]
                /admin/tags/**=authc,perms[tags:view]
                /admin/tags/update**=authc,perms[tags:edit]
                /admin/tags/delete**=authc,perms[tags:edit]
                /admin/tags/update**=authc,perms[:tags:edit]
                /admin/tags/lock**=authc,perms[tags:edit]
                /admin/tags/featured**=authc,perms[tags:edit]
                /admin/comments/**=authc,perms[comments:view]
                /admin/comments/delete**=authc,perms[comments:edit]
                /admin/users/**=authc,perms[users:view]
                /admin/users/update**=authc,perms[users:edit]
                /admin/users/pwd**=authc,perms[users:edit]
                /admin/config/**=authc,perms[config:view]
                /admin/config/updtate**=authc,perms[config:edit]
                /admin/roles/**=authc,perms[roles:view]
                /admin/authMenus/**=authc,perms[authMenus:view]
            </value>
        </property>
    </bean>

    <bean id="authc" class="mblog.shiro.filter.AuthenticatedFilter">
        <property name="loginUrl" value="/login"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>
