#set($title="加入我们")
#set($layout = "/default/layout/seo.vm")

<script type="text/javascript" src="$base/dist/js/app/comment.js"></script>

<div class="col-xs-12 col-md-12">
    <div class="shadow-box">
		<h1 class="post-title">联系我们</h1>
		<div class="clearfix post-other">
			<span class="pull-left author">
				官方团队
			</span>
		</div>
		<div class="post-frame">
			<div class="post-content">
				<p><strong>联系我们</strong></p>
				<p>友情链接交换、意见反馈、商业合作, 您可以 <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=AGxhbmdoc3VAZm94bWFpbC5jb20" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png"/></a></p>
				<p><strong>加入我们</strong><br/></p>
                <p>如果你和我们有一样的梦想、有激情，别犹豫，加入我们的开源事业。</p>
				<p>QQ群：378433412 <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=a26a98f0ba0d5886fe79adac4977b0b42b7ade6f9a10404074d12251ebcca3a8"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="Mtons" title="Mtons"></a></p>
                
			</div>
			<div class="post-footer">
				<div class="tip">分享到：</div>
				<div class="shares">
					<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></div>
					<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
				</div>
			</div>
		</div>
	</div>
	<!-- post/end -->
</div>