#set($title = "首页")

<!-- left -->
<div class="col-xs-12 col-md-9 side-left">
    <div class="shadow-box">
		<!-- tab -->
		<div class="filter">
			<ul class="">
            	<li><a #if($ord == 'newest') class="active" #end href="$base/?ord=newest">最新的</a></li>
           		<li><a #if($ord == 'hottest') class="active" #end href="$base/?ord=hottest">热门的</a></li>
				<!--
            	<li><a href="/blogs/hottest">全部的</a></li>
				-->
        	</ul>
		</div>
		<!-- tab end -->
		<!-- tab panes -->
        <div class="stream-list">
			#foreach($row in $page.results)
				#showBlog($row)
			#end
			
			#if($page.results.size() == 0)
    		<div class="stream-item">
    				<i class="fa fa-frown-o fa-lg"></i> 您还没发表过文章!
            </div>
			#end
			
		</div>
	</div>
	<div class="text-center clr">
		#set($url = "index?ord=" + ${ord})
    	#page($url $page 5)
    </div>
</div>

<div class="col-xs-12 col-md-3 side-right hidden-xs hidden-sm bounceInRight animated">
	<!--
	<div class="search">
		<form class="form-inline clearfix" method="get" id="searchform" action="$base/browse/search">
    		<div class="input-group custom-search-form">
        		<input type="text" class="form-control" name="q" placeholder="搜索...">
        		<span class="input-group-btn">
        			<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        		</span>
        	</div>
		</form>
	</div>
	-->
	#parse("/default/inc/right.vm")
</div>