<footer>
	<div class="footer-nav">
		<div class="container">
			<ul class="about-ul list-inline clearfix">
				<li><a href="$base/about" target="_blank">关于我们</a></li>
				<li><a href="$base/joinus" target="_blank">联系我们</a></li>
				<li><a href="$base/faqs" target="_blank">常见问题解答</a></li>
                <li>
					<script type="text/javascript">
						var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa029e6c6dddf427f4cbfb2b00d7d5311' type='text/javascript'%3E%3C/script%3E"));
        			</script>
				</li>
			</ul>
		</div>
	</div>
	<div class="container mode-link">
        <h3 class="t-h3">友情链接</h3>
        <ul class="list-inline">
			<li><a href="http://mtons.com/" target="_blank" title="Mtons社区">mtons社区</a></li>
        </ul>
    </div>
	<div class="container copy-right">
		<span>Copyright © <a href="#">Mtons</a>（<a
			href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备******号</a>)
		</span>
		<span class="pull-right">Powered By <a href="http://mtons.com" target="_blank">Mtons</a></span>
	</div>

</footer>
