<div class="top-wrap">
    <nav class="navbar navbar-inverse" role="navigation">
    	#parse("/default/inc/browse_tips.vm")
    	<div class="container">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand logo" href="$base/index"><img src="$base/assets/images/logo/m216.png"></a>
    		</div>
    		<div id="navbar" class="navbar-collapse collapse">
    			<ul class="nav navbar-nav">
					#if($profile)
    				<li data="home">
    					<a href="$base/home" nav="home">HOME</a>
    				</li>
					#end
					
					#foreach($m in $menus)
					<li>
    					<a href="$base/${m.url}" nav="${m.name}">${m.name}</a>
    				</li>
					#end
					
    			</ul>
    			<div class="search-box navbar-left hidden-xs hidden-sm">
    				<form class="navbar-form" method="get" action="$base/browse/search">
    					<input type="text" class="form-control" name="q" placeholder="搜索...">
						<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
    				</form>
    			</div>
    			
    			<ul class="nav navbar-nav navbar-right sign">
    				#if($profile)
    				<li class="dropdown">
    					<a href="#" class="ava dropdown-toggle" data-toggle="dropdown">
    						<img class="img-circle" src="$base${profile.avatar}">
    					</a>
    					<ul class="dropdown-menu" role="menu">
    		                <li>
    		                	<a href="$base/account/profile" class="ava">
									#showAva(${profile.avatar}, "img-circle")
    		                		<span>#showName(${profile})</span>
    		                	</a>
    		               	</li>
    		                <li class="divider"></li>
							
							#if($shiro.hasPermission("admin"))
								<li><a href="$base/admin">后台管理</a></li>
							#end
							
    		                <li><a href="$base/logout">退出</a></li>
    		              </ul>
    				</li>
    				#else
    				<li><a href="$base/login" class="signin">登录</a></li>
                    <li><a href="$base/reg" class="signup">注册</a></li>
    				#end
    			</ul>
    		</div>
    	</div>
    </nav>
</div>
<script type="text/javascript">
$(function () {
	$('a[nav]').each(function(){  
        $this = $(this);
        if($this[0].href == String(window.location)){  
            $this.closest('li').addClass("active");  
        }  
    });
});
</script>
