<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	
	<!-- Service -->
	<bean id="configService" class="mblog.persist.service.impl.ConfigServiceImpl" />
	<bean id="userService" class="mblog.persist.service.impl.UserServiceImpl" />
	<bean id="logService" class="mblog.persist.service.impl.LogServiceImpl" />
	<bean id="commentService" class="mblog.persist.service.impl.CommentServiceImpl" />
	<bean id="postService" class="mblog.persist.service.impl.PostServiceImpl" />
	<bean id="attachService" class="mblog.persist.service.impl.AttachServiceImpl" />
	<bean id="tagService" class="mblog.persist.service.impl.TagServiceImpl" />
	
	<bean id="groupService" class="mblog.persist.service.impl.GroupServiceImpl" />
	<bean id="menuService" class="mblog.persist.service.impl.MenuServiceImpl" />
	<bean id="userEventService" class="mblog.persist.service.impl.UserEventServiceImpl" />
	<bean id="openOauthService" class="mblog.persist.service.impl.OpenOauthServiceImpl" />

	<bean id="verifyService" class="mblog.persist.service.impl.VerifyServiceImpl" />
	<bean id="followService" class="mblog.persist.service.impl.FollowServiceImpl" />
	<bean id="feedsService" class="mblog.persist.service.impl.FeedsServiceImpl" />

	<bean id="favorService" class="mblog.persist.service.impl.FavorServiceImpl" />
	<bean id="notifyService" class="mblog.persist.service.impl.NotifyServiceImpl" />

	<bean id="authMenuService" class="mblog.persist.service.impl.AuthMenuServiceImpl"/>
	<bean id="roleService" class="mblog.persist.service.impl.RoleServiceImpl"/>

</beans>