<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  	http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<!-- Dao -->
	<bean id="configDao" class="mblog.persist.dao.impl.ConfigDaoImpl" />
	<bean id="userDao" class="mblog.persist.dao.impl.UserDaoImpl" />
	<bean id="logDao"  class="mblog.persist.dao.impl.LogDaoImpl" />
	<bean id="commentDao" class="mblog.persist.dao.impl.CommentDaoImpl" />
	<bean id="postDao" class="mblog.persist.dao.impl.PostDaoImpl" />
	<bean id="attachDao" class="mblog.persist.dao.impl.AttachDaoImpl" />
	<bean id="tagDao" class="mblog.persist.dao.impl.TagDaoImpl" />
	
	<!-- Service -->
	<bean id="configService" class="mblog.persist.service.impl.ConfigServiceImpl" />
	<bean id="userService" class="mblog.persist.service.impl.UserServiceImpl" />
	<bean id="logService" class="mblog.persist.service.impl.LogServiceImpl" />
	<bean id="commentService" class="mblog.persist.service.impl.CommentServiceImpl" />
	<bean id="postService" class="mblog.persist.service.impl.PostServiceImpl" />
	<bean id="attachService" class="mblog.persist.service.impl.AttachServiceImpl" />
	<bean id="tagService" class="mblog.persist.service.impl.TagServiceImpl" />
	
</beans>