#set($title=$!{ret.title})
#set($tags=$!{ret.tags})
#set($layout = "/default/layout/seo.vm")

<div class="col-xs-12 col-md-9 side-left">
    <div class="shadow-box">
		<h1 class="post-title">$!{ret.title}</h1>
		<div class="clearfix post-other">
			<span class="pull-left author">
				<a class="author-name" href="$base/user/${ret.author.id}" target="_blank">#showName(${ret.author})</a>
			</span>
			<time class="pull-left time">$date.format('yyyy-MM-dd', $ret.created)</time>
			<ul class="pull-left list-inline tag-box">
				<li>$!{ret.tags}</li>
			</ul>
			<span class="pull-right action-box"> </span>
		</div>
		<div class="post-frame">
			#if($ret.albums)
    			#foreach($row in $ret.albums)
    				<div class="single-post-media">
    					<img src="$base/dist/images/spinner.gif" data-original="$base${row.original}" style="display: block;">
    				</div><!-- .post-thumbnail -->	
    			#end
    		#end
			<div class="post-content">
				${ret.content}
			</div>
		</div>
	</div>
	<!-- post/end -->
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-comments fa-fw"></i> 评论  (<i id="chat_count">0</i>)
		</div>
		<div class="panel-body">
			<ul class="chat" id="chat_container"><li><p>空空如也, 快来占沙发吧!</p></li></ul>
		</div>
		<div class="panel-footer">
			<div class="input-group">
				<input id="chat_text" type="text" class="form-control input-sm" placeholder="在这写点什么吧...">
				<span class="input-group-btn">
					<button class="btn btn-warning btn-sm" id="btn-chat">发送</button>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 col-md-3 side-right hidden-xs hidden-sm bounceInRight animated">
	<ul class="list-group">
		<li class="list-group-item">
			<a class="btn btn-success btn-sm" href="javascript:void(0);" data-id="${ret.id}" id="sideLike">喜欢</a>
			<strong id="sideLiked">${ret.hearts}</strong> 喜欢
		</li>
	</ul>
	#parse("/default/inc/right.vm")
</div>

<script type="text/plain" id="chat">
<li class="left clearfix">
	<span class="chat-img pull-left">
		<img src="$base{0}" class="img-circle" style="width: 50px; height: 50px;">
	</span>
	<div class="chat-body clearfix">
		<div class="header">
			<strong class="primary-font">{1}</strong>
			<small class="pull-right text-muted">
				<i class="fa fa-clock-o fa-fw"></i> {2}
			</small>
		</div>
		<p>{3}</p>
	</div>
</li>
</script>

<script type="text/javascript">
var toId = '${ret.id}';

var container = $("#chat_container");
var template = $('#chat')[0].text;

function render(template, data) {
	var item = jQuery.format(template, data.author.avatar, data.author.name, data.created, data.content);
	container.append(item);
}

// 加载评论
function chatLoad(pn) {
	container.empty();
	jQuery.getJSON('${base}/comment/list/${ret.id}', {'pn': pn}, function(ret){
		if(ret){
			$('#chat_count').text(ret.totalCount);
			var retSize = 0;
      		jQuery.each(ret.results, function(i, n) {
      			render(template, n);
				retSize = 1;
      		});
			if (retSize == 0) {
				container.append('<li><p>空空如也, 快来占沙发吧!</p></li>');
			}
      	}
	});
}

function chatPost() {
	var text = $('#chat_text').val();
	if (text.length == 0) {
		alert('请输入内容再提交!');
		return false;
	}
	if (text.length > 255) {
		alert('内容过长，请输入140以内个字符');
		return false;
	}
	
	jQuery.ajax({
		url: '$base/comment/j_post', 
		data: {'toId': toId, 'text': text},
		dataType: "json",
		type :  "POST",
		cache : false,
		error : function(i, g, h) {
			alert("发生错误");
		},
		success: function(ret){
			if(ret){
				alert(ret.message);
				
				if (ret.code >= 0) {
					$('#chat_text').val('');
					
					chatLoad(1);
				}
			}
      	}
	});
}

$(function(){
	$("img").lazyload({
		 placeholder : "$base/dist/images/spinner.gif",
		 effect      : "fadeIn"
	});
	
	$('#sideLike').click(function () {
		var id = $(this).attr('data-id');
		
		if (parseInt(id) > 0) {
			jQuery.getJSON('$base/blog/heart', {'id': id}, function (ret) {
				if (ret.code >=0) {
					var sideLiked = $('#sideLiked').text();
					$('#sideLiked').text(parseInt(sideLiked) + 1);
				}
			});
		}
	});
	
	chatLoad(1);
	
	$('#btn-chat').click(chatPost);

});
</script>
