#set($title="走廊")

<div class="col-xs-12 col-md-12">
    <div id="blog-wrap" class="g-box masonry-grid">
    	#foreach($row in $page.results)
    	<div class="shadow-box g-item span_1_of_3 col masonry-entry">
    		#if($row.type == 'image' && ${row.snapshot.preview})
        	<div class="g-thumb">
        		<a href="$base/browse/detail/${row.id}">
    				<img src="$base${row.snapshot.preview}">
    			</a>
        	</div>
    		#end
        	<h3 class="title">
        		<a href="$base/browse/detail/${row.id}">${row.title}</a>
        	</h3>
        	<div class="g-outline">
        		<p>${row.summary}</p>
        	</div>
        	
        	<div class="g-btm">
        		<div class="pull-left">
        			<span class="author">#showName(${row.author})</span>
        			<time class="time">$date.format('yyyy-MM-dd', $row.created)</time>
        		</div>
    			<a class="cmt pull-right" href="javascript:void(0)" onclick="onHeart(this, '${row.id}')">喜欢&nbsp;(<i>${row.hearts}</i>)</a>
        	</div>
        </div>
    	#end
    </div>
    <!-- #blog-wrap -->
    <div class="page-jump clr">
    	<div class="newer-posts alignleft"></div>
    	<div class="older-posts alignright">
    		<a href="$base/browse/gallery_snippet/2">Older Posts &rarr;</a>
    	</div>
    </div>
</div>

<script type="text/javascript">

function onHeart(event, id) {
	var that = $(event);
	if (parseInt(id) > 0) {
		jQuery.getJSON('$base/post/heart', {'id': id}, function (ret) {
			if (ret.code >=0) {
				var sideLiked = that.find('i').text();
				that.find('i').text(parseInt(sideLiked) + 1);
			}
		});
	}
}

$(function(){
	$("img").lazyload({
		 placeholder : "$base/dist/images/spinner.gif",
		 effect      : "fadeIn"
	});
});
</script>