#set($layout="default/layout/noop.vm")

#foreach($row in $page.results)
<div class="shadow-box g-item span_1_of_3 col masonry-entry">
	#if($row.type == 'image' && ${row.snapshot.preview})
	<div class="g-thumb">
		<a href="$base/browse/detail/${row.id}">
			<img src="$base${row.snapshot.preview}">
		</a>
	</div>
	#end
	<h3 class="title">
		<a href="$base/browse/detail/${row.id}">${row.title}</a>
	</h3>
	<div class="g-outline">
		<p>${row.summary}</p>
	</div>
	
	<div class="g-btm">
		<div class="pull-left">
			<span class="author">#showName(${row.author})</span>
			<time class="time">$date.format('yyyy-MM-dd', $row.created)</time>
		</div>
		<a class="cmt pull-right" href="javascript:void(0)" onclick="onHeart(this, '${row.id}')">喜欢&nbsp;(<i>${row.hearts}</i>)</a>
	</div>
</div>
#end