#set($title = "$!{tag}")

<!-- left -->
<div class="col-xs-12 col-md-9 side-left">
	<div class="shadow-box">
		<div class="filter">
    		<i class="fa fa-tag fa-lg"></i> $!{tag}
    	</div>
        <div class="stream-list">
        	#foreach($row in $page.results)
        	<div class="stream-item" id="loop-${row.id}">
        		<div class="blog-rank">
					<div class="user" title="${row.author.name}">
			            <img class="img-circle" src="$base${row.author.avatar}">
			        </div>
			    </div>
			    <div class="summary">
			        <h2 class="title"><a href="$base/browse/detail/${row.id}">${row.title}</a></h2>
			        <div class="excerpt wordbreak hidden-xs">$!{row.summary}</div>
			    	<div class="foot-block clearfix">
						<!--
			    		<ul class="tags">
			    			<li>
			    				<a class="tag tag-sm" href="#">javascript</a>
							</li>
			    		</ul>
						-->
			    		<div class="pull-right hidden-xs">
							<span><a href="$base/browse/detail/${row.id}">浏览(${row.views})</a></span>
							<span>评论(${row.comments})</span>
			    		</div>
			    	</div>
			    </div>
        	</div>
			#end
        </div>
    </div>
    		
    <div class="text-center clr">
    	#page("tag/$!{tag}" $page 5)
    </div>
</div>

<div class="col-xs-12 col-md-3 side-right hidden-xs hidden-sm bounceInRight animated">
	#parse("/default/inc/right.vm")
</div>
