##
## 布局-左边栏布局
## - 小屏时自动上下布局
## - 使用者：用户主页
##
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$!title</title>
    <meta name="keywords" content="mtons,$!{site_keywords}">
    <meta name="description" content="$!{site_description}">

    #parse("/default/inc/metas.vm")

    <script src="$base/assets/vendors/pace/pace.min.js"></script>
    <link href="$base/assets/vendors/pace/themes/pace-theme-barber-shop.css" rel="stylesheet" />

    <link rel='stylesheet' media='all' href='$base/assets/vendors/font-awesome/css/font-awesome.min.css'/>
    <link rel="stylesheet" media='all' href="$base/assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media='all' href="$base/assets/vendors/animate/animate.min.css">
    <link rel='stylesheet' media='all' href='$base/assets/css/style.css'/>
    <link rel='stylesheet' media='all' href='$base/assets/css/layout.css'/>
    <link rel='stylesheet' media='all' href='$base/assets/css/plugins.css'/>
    <!--fancybox样式-->
    <link rel='stylesheet' media='all' href="$base/assets/vendors/baguette/baguetteBox.min.css"/>

    <script type="text/javascript" src="$base/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="$base/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="$base/assets/js/utils.js"></script>

    <script type="text/javascript" src="$base/assets/vendors/layer/layer.js"></script>

    <script type="text/javascript" src="$base/assets/js/sea.js"></script>
    <script type="text/javascript" src="$base/assets/js/sea.config.js"></script>

    <!--[if lt IE 9]>
    <script src="$base/assets/js/html5.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="http://mtons.com/assets/images/logo/m99.png"/>
    <link rel="shortcut icon" href="http://mtons.com/assets/images/logo/m.png"/>

    #parse("/default/inc/params.vm")
</head>
<body>
    #parse("/default/inc/header.vm")

    <!--.site-main -->
    <div class="wrap" id="wrap">
        <div class="container">
            <div class="row">
                <div class="main clearfix">
                    <!-- left -->
                    <div class="col-xs-12 col-md-3 side-left">
                        #parse("/default/home/right.vm")
                    </div>

                    <div class="col-xs-12 col-md-9 side-right">
                        <!-- tab -->
                        #parse("/default/home/top.vm")
                        <!-- tab end -->
                        ${screen_content}
                    </div>
                </div>
            </div>
        </div>
    </div>

    #parse("/default/inc/footer.vm")

    <a href="#" class="site-scroll-top"></a>

    <script type="text/javascript">
        seajs.use('main', function (main) {
            main.init();
        });
    </script>
</body>
</html>
