#set($layout = "/admin/layout/default.vm")

<div class="row m-t-large m-b">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">站点配置
				<a href="$base/admin/config/view" class="btn btn-mini btn-success pull-right">
					<i class="fa fa-edit"></i> 编辑
				</a>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<th>名称</th>
						<th>属性值</th>
					</tr>
					#foreach($row int $siteConfigs)
						#set($config = $configs[$row.key])
					<tr>
						<td>$!{row.name}</td>
						<td>$!{config.value}</td>
					</tr>
					#end
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				缓存管理
			</div>
			<div class="panel-body" style="height: 200px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="media">
                            <span class="pull-left thumb-small m-t-mini">
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div id="todo-1" class="pull-right text-primary m-t-small">
                                <a href="javascript:void(0);" class="btn btn-mini btn-success pull-right" data-action="flush_cache">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="h5">刷新Ehcache缓存</div>
                                <small class="text-muted">
                                    #foreach($row in $cacheNames)
                                    <span>$row</span>
                                    #end
                                </small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <span class="pull-left thumb-small m-t-mini">
                                <i class="fa fa-star-o"></i>
                            </span>
                            <div id="todo-1" class="pull-right text-primary m-t-small">
                                <a href="javascript:void(0);" class="btn btn-mini btn-success pull-right" data-action="flush_conf">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="h5">刷新系统变量缓存</div>
                                <small class="text-muted">
                                    <span>系统变量</span>
                                    <span>导航菜单</span>
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var J = jQuery;

function ajaxReload(json){
    if(json.code >= 0){
        if(json.message != null && json.message != ''){
            alert(json.message);
        }
        $('#qForm').submit();
    }else{
        alert(json.message);
    }
}

$(function() {
	// 刷新缓存
    $('a[data-action="flush_cache"]').bind('click', function(){
        if(confirm('确定要刷新Ehcache的缓存吗？')){
            J.getJSON('$base/admin/config/flush_cache.json', ajaxReload);
        }
        return false;
    });

    // 刷新系统变量
    $('a[data-action="flush_conf"]').bind('click', function(){
        if(confirm('确定要刷新系统变量的缓存吗？')){
            J.getJSON('$base/admin/config/flush_conf.json', ajaxReload);
        }
        return false;
    });
})
</script>