#set($layout = "/admin/layout/default.vm")

<div class="panel m-t-large m-b">
    <header class="panel-heading">菜单管理</header>
    <div class="panel-body">
        <div class="pull-out m-t-small">
            <table id="dataGrid" class="table table-striped table-bordered b-t text-small">
                <thead>
                <tr>
                    <th width="80">#</th>
                    <th>名称</th>
                    <th>URL</th>
                    <th>权限</th>
                    <th>顺序</th>
                    <th width="300"></th>
                </tr>
                </thead>
                <tbody>
                    #foreach($row in $list)
                    <tr>
                        <td class="text-center">${row.id}</td>
                        <td>$!{row.name}</td>
                        <td>$!{row.url}</td>
                        <td>$!{row.permission}</td>
                        <td>$!{row.sort}</td>
                        <td class="text-center">

                            <a href="$base/admin/roles/form?id=${row.id}" class="btn btn-mini btn-primary">
                                <i class="fa fa-check-square-o"></i> 修改
                            </a>
                            <a href="$base/admin/roles/delete?id=${row.id}" class="btn btn-mini"><i class="fa fa-check-square-o"></i> 删除</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
            <a class="btn add-role-btn" href="$base/admin/authMenu/form">添加角色</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var J = jQuery;

    function ajaxReload(json){
        if(json.code >= 0){
            if(json.message != null && json.message != ''){
                layer.msg(json.message, {icon: 1});
            }
            $('#qForm').submit();
        }else{
            layer.msg(json.message, {icon: 2});
        }
    }

    $(function() {
        // 停用
        $('#dataGrid a[data-action="close"]').bind('click', function(){
            var that = $(this);
            layer.confirm('该账号停用后，将不能登录系统，确定要停用?', {
                btn: ['确定','取消'], //按钮
                shade: false //不显示遮罩
            }, function(){
                J.getJSON('$base/admin/users/close', {id: that.attr('data-id'), active: false}, ajaxReload);
            }, function(){
            });
            return false;
        });

        // 激活
        $('#dataGrid a[data-action="open"]').bind('click', function(){
            var that = $(this);
            layer.confirm('该账号激活后，将可访问系统中的已授权功能，确定要激活?', {
                btn: ['确定','取消'], //按钮
                shade: false //不显示遮罩
            }, function(){
                J.getJSON('$base/admin/users/open', {id: that.attr('data-id'), active: true}, ajaxReload);
            }, function(){
            });
            return false;
        });
    })
</script>